/.idea
/server/node_modules
/server/build
/client/node_modules
/dist

# Project exclude paths
/server/src/tictactoe.d.ts
/server/src/tictactoe.d.ts.map
/server/src/tictactoe.js
/server/src/tictactoe.js.map